*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

/.idea/$PROJECT_FILE$
/.idea/checkstyle-idea.xml
/.idea/codeStyles/Project.xml
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/qaplug_profiles.xml
/.idea/runConfigurations.xml
/.idea/sonarlint/issuestore/index.pb
